<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title><%= @page.title %> - <%= @site.name %></title>
    <link rel="stylesheet" href="<%= asset "css/style.css" %>">
    <link rel="stylesheet" href="<%= asset "css/prism.css" %>">
    <%= include "head-extras" %>
  </head>
  <body>
    <div id="wrapper">
      <header id="top">
        <h1><a href="<%= base() %>"><%= @site.name %></a></h1>
        <p><%= @site.description %></p>
      </header>
      <nav><%= include "nav" %></nav>
      <hr>
      <main><%= @contents %></main>
      <hr>
      <footer>
        <%= include "footer" %>
        <p>
          Powered by <a href="https://github.com/Dalgona/Serum">Serum</a> v<%= Application.spec(:serum, :vsn) %>,
          with <a href="https://github.com/Dalgona/serum-theme-essence">Essence</a> theme
        </p>
      </footer>
    </div>
    <script src="<%= asset "js/prism.js" %>"></script>
  </body>
</html>
